body {
    background-color: #0f0d14;
  }

  .btn-dark {
    background-color: black;
  }

  .btn-dark:hover {
    border-color: #1d1e22;
    background-color: #1d1e22;
  }

  #table_spiner {
    text-align: center;
  }

  .color_white {
    color: white;
  }

  .bg_black {
    background-color: #161313;
  }

  #d_pas_use {
    cursor: pointer;
  }
  .cur_pointer{
    cursor: pointer;
  }
  #log_out{
    margin-right:40px;
    color: #f8f9fa;
    transition: all ease 0.3s;
  }
  #log_out:hover{
    color: #c8c8c9;
  }
  #model_close_btn{
    background:none;
    border: none;
    color: white;
  }
  #model_close_btn:hover{
    color: rgb(196, 196, 196);
  }


#footer {
    color: white;
    display: flex;
    justify-content: end;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#footer a {
    display: flex;
    color: white;
    text-decoration: none;
}

#footer a:hover {
    color: rgb(235, 235, 235);
}

#footer img {
    width: 25px;
    height: 32px;
    margin-right: 10px;
}

#footer p {
    margin-top: 7px;
    margin-right: 20px;
}
